*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    font-family:'Trebuchet MS',sans-serif;
    background:
        linear-gradient(
        to bottom,
        #aee2ff 0%,
        #d8f2ff 35%,
        #fff8ee 100%
        );
    overflow-x:hidden;
    position:relative;
}