.info-sidebar{
    width: 22vw;
    background:
        linear-gradient(
        180deg,
        #fffefb,
        #fff1dd
        );
    border-radius:30px;
    padding:25px;
    box-shadow:0 15px 30px rgba(0,0,0,.08);
    border:4px dashed #e8d8bd;
    position:relative;
}

.info-sidebar.missao-ativa::before{
    content:"MISSÃO";
    position:absolute;
    top:-10px;
    right:-20px;
    color:#d46b6b;
    border:3px solid #d46b6b;
    padding:5px 15px;
    transform:rotate(12deg);
    font-size:clamp(20px,1.4vw,500px);
    font-weight:bold;
}

#conteudo-vazio{
    text-align:center;
    padding-top:80px;
}

.robot-helper{
    font-size:120px;
    margin-bottom:20px;
    filter:
    drop-shadow(
        0 10px 15px rgba(0,0,0,.15)
    );
    animation:
    floatRobot 3s infinite ease-in-out,
    robotRotate 5s infinite ease-in-out;
}

#conteudo-vazio h3{
    color:#4f685d;
    margin-bottom:15px;
}

#conteudo-vazio p{
    color:#6d635c;
    line-height:1.6;
}

#sidebar-titulo{
    color:#4f685d;
    margin-bottom:15px;
}

#sidebar-imagem{
    width:85%;
    border-radius:20px;
    border:6px solid #eadbc0;
    margin-bottom:15px;
}

.tag-physics{
    display:inline-block;
    padding:10px 16px;
    background:#d7f0df;
    color:#3e6b4d;
    border-radius:999px;
    font-weight:bold;
    margin-bottom:15px;
}

#sidebar-descricao{
    line-height:1.7;
    color:#5f564f;
}

.btn-contract{
    display:block;
    margin-top:25px;
    text-align:center;
    text-decoration:none;
    padding:16px;
    border-radius:18px;
    background:#f7d0a4;
    color:#5b5047;
    font-weight:bold;
    transition:.3s;
}

.btn-contract:hover{
    transform:scale(1.04);
    background:#f1c089;
}

@keyframes floatRobot{
    0%{transform:translateY(0);}
    50%{transform:translateY(-10px);}
    100%{transform:translateY(0);}
}

@keyframes robotRotate{
    0%{
        rotate:-4deg;
    }

    50%{
        rotate:4deg;
    }

    100%{
        rotate:-4deg;
    }
}


#sidebar-status {
    margin: 10px 0;
}
.badge-concluida {
    background: #4caf50;
    color: white;
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}
.badge-pendente {
    background: #ff9800;
    color: white;
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}